@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
$font-stack: "Montserrat", sans-serif;
$primery-color-1: #707070;
$primery-color-2: white;
$primery-color-3: black;
$primery-color-4: #f2f2f2;

.btn {
  transition: all 0.5s ease;
  color: $primery-color-3;
  background-color: $primery-color-4;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    background-color: $primery-color-1;
    color: $primery-color-2;
    transition: all 0.5s ease;
  }
}
